body {
    color: blue;
    text-align: center;
    font-family: 'arial';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: #3333aa;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5;
} 

#cabecera #tagline
{
    margin: 0 0 0 01em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
font-size: 20px;
}

#post
{
    padding: 1;
}

